annotations:
  argocd.argoproj.io/sync-wave: "4"

pod:
  kind: 'Deployment'
  replicas: 1
  enableServiceLinks: false

configMap:
  server:
    address: 'tcp://:9091'

  log:
    level: 'info'

  authentication_backend:
    ldap:
      enabled: true
      implementation: 'lldap'
      address: 'ldap://lldap.core-auth.svc.cluster.local:389'
      timeout: '5s'
      start_tls: false
      base_dn: 'dc=homelab,dc=local'
      additional_users_dn: 'ou=people'
      users_filter: '(&(|({username_attribute}={input})(mail={input}))(objectClass=person))'
      additional_groups_dn: 'ou=groups'
      groups_filter: '(&(member={dn})(objectClass=groupOfNames))'
      user: 'uid=authelia,ou=people,dc=homelab,dc=local'
      attributes:
        username: 'uid'
        display_name: 'cn'
        mail: 'mail'
        member_of: 'memberOf'
        group_name: 'cn'
      password:
        file: '/secrets/authelia-secrets/LDAP_PASSWORD'

  session:
    name: 'authelia_session'
    cookies:
      - domain: 'zonkey-broadnose.ts.net'
        authelia_url: 'https://authelia.zonkey-broadnose.ts.net'
    same_site: 'lax'
    expiration: '1h'
    inactivity: '5m'
    remember_me: '1M'

  storage:
    local:
      enabled: false
      path: '/config/db.sqlite3'
    postgres:
      enabled: true
      deploy: false
      address: 'tcp://authelia-db-rw.core-auth.svc.cluster.local:5432'
      timeout: '5s'
      database: 'authelia'
      schema: 'public'
      username: 'authelia'
      password:
        disabled: false
        secret_name: authelia-secrets
        path: 'POSTGRES_PASSWORD'

  notifier:
    filesystem:
      enabled: true
      filename: '/data/notification.txt'

  identity_providers:
    oidc:
      enabled: true
      lifespans:
        access_token: '1h'
        authorize_code: '1m'
        id_token: '1h'
        refresh_token: '90m'
      enforce_pkce: 'public_clients_only'
      cors:
        endpoints:
          - 'authorization'
          - 'token'
          - 'revocation'
          - 'introspection'
          - 'userinfo'
        allowed_origins_from_client_redirect_uris: true
      jwks:
        - key_id: 'rsa'
          algorithm: 'RS256'
          use: 'sig'
          key:
            path: '/secrets/authelia-secrets/OIDC_ISSUER_PRIVATE_KEY'
      clients:
        - client_id: 'datamonster'
          client_name: 'DataMonster'
          client_secret:
            path: '/secrets/authelia-secrets/DATAMONSTER_CLIENT_SECRET'
          public: false
          authorization_policy: 'one_factor'
          redirect_uris:
            - 'https://data-monster.net/return'
          scopes:
            - 'openid'
            - 'profile'
            - 'email'
            - 'groups'
            - 'offline_access'
          grant_types:
            - 'authorization_code'
            - 'refresh_token'
          response_types:
            - 'code'

  access_control:
    default_policy: 'deny'
    rules:
      - domain: '*.zonkey-broadnose.ts.net'
        policy: 'one_factor'

  persistence:
  enabled: false
  storageClass: 'longhorn'
  size: '1Gi'

secret:
  existingSecret: 'authelia-crypto'
  additionalSecrets:
    authelia-secrets:
      items:
        - key: LDAP_PASSWORD
          path: LDAP_PASSWORD
        - key: DATAMONSTER_CLIENT_SECRET
          path: DATAMONSTER_CLIENT_SECRET
        - key: OIDC_ISSUER_PRIVATE_KEY
          path: OIDC_ISSUER_PRIVATE_KEY
        - key: POSTGRES_PASSWORD
          path: POSTGRES_PASSWORD
