apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-redis
  namespace: core-argocd
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-keyvault
  target:
    name: argocd-redis
    creationPolicy: Owner
  data:
    - secretKey: auth
      remoteRef:
        key: argocd-redis-password
