apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - ingress.yaml
images:
  - name: batcomputer-gse9eyezfzhubya2.azurecr.io/datamonster-web
    newTag: latest
