crds:
  enabled: true

replicaCount: 2

podDisruptionBudget:
  enabled: true
  minAvailable: 1

webhook:
  replicaCount: 2
  podDisruptionBudget:
    enabled: true
    minAvailable: 1

cainjector:
  replicaCount: 2
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
