apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: edge
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    deployment:
      replicas: 2
    ingressClass:
      enabled: true
      isDefaultClass: false
      name: traefik
    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: false
    service:
      type: ClusterIP
    ports:
      web:
        port: 8000
        expose:
          default: true
        exposedPort: 80
      websecure:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        tls:
          enabled: true
      traefik:
        port: 8080
        expose:
          default: false
    tlsStore:
      default:
        defaultCertificate:
          secretName: tunnel-wildcard-tls
    api:
      dashboard: true
    ingressRoute:
      dashboard:
        enabled: false
    logs:
      general:
        level: INFO
      access:
        enabled: true
    metrics:
      prometheus:
        entryPoint: metrics
        service:
          enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 256Mi
