commonLabels:
  app.kubernetes.io/name: loki

deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  limits_config:
    retention_period: 168h
    max_query_lookback: 168h
    retention_stream:
      - selector: '{namespace="core-observe"}'
        priority: 2
        period: 168h
      - selector: '{level="debug"}'
        priority: 1
        period: 24h
  compactor:
    retention_enabled: true
    retention_delete_delay: 2h
    delete_request_store: filesystem
    working_directory: /var/loki/retention
    compaction_interval: 10m
  schemaConfig:
    configs:
      - from: "2024-11-24"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 15Gi
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
    limits:
      cpu: 1000m
      memory: 2Gi

read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false

test:
  enabled: false
