apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: observe
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: 10.2.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    admin:
      existingSecret: grafana
      userKey: admin-user
      passwordKey: admin-password
    persistence:
      enabled: true
      size: 2Gi
    resources:
      requests:
        cpu: 250m
        memory: 750Mi
      limits:
        cpu: 1000m
        memory: 2Gi
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-kube-prometheus-prometheus.observe:9090
            isDefault: true
            editable: false
          - name: Loki
            type: loki
            access: proxy
            url: http://loki-gateway.observe:80
            editable: false
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        kubernetes-cluster:
          gnetId: 7249
          revision: 1
          datasource: Prometheus
        loki-logs:
          gnetId: 13639
          revision: 2
          datasource: Loki
        node-exporter:
          gnetId: 1860
          revision: 37
          datasource: Prometheus
    grafana.ini:
      auth.anonymous:
        enabled: true
        org_role: Admin
      auth:
        disable_login_form: true
