annotations:
  argocd.argoproj.io/sync-wave: "4"

pod:
  enableServiceLinks: false

configMap:
  server:
    address: 'tcp://:9091'

  log:
    level: 'info'

  authentication_backend:
    ldap:
      enabled: true
      implementation: 'lldap'
      address: 'ldap://lldap.core-auth.svc.cluster.local:389'
      timeout: '5s'
      start_tls: false
      base_dn: 'dc=homelab,dc=local'
      additional_users_dn: 'ou=people'
      users_filter: '(&(|({username_attribute}={input})(mail={input}))(objectClass=person))'
      additional_groups_dn: 'ou=groups'
      groups_filter: '(&(member={dn})(objectClass=groupOfNames))'
      user: 'uid=authelia,ou=people,dc=homelab,dc=local'
      attributes:
        username: 'uid'
        display_name: 'cn'
        mail: 'mail'
        member_of: 'memberOf'
        group_name: 'cn'
      password:
        disabled: false
        secret_name: 'authelia-secrets'
        key: 'ldap_password'

  session:
    name: 'authelia_session'
    cookies:
      - domain: 'zonkey-broadnose.ts.net'
        authelia_url: 'https://authelia.zonkey-broadnose.ts.net'
    same_site: 'lax'
    expiration: '1h'
    inactivity: '5m'
    remember_me: '1M'
    secret:
      disabled: false
      secret_name: 'authelia-secrets'
      key: 'session_secret'

  storage:
    local:
      enabled: true
      path: '/data/db.sqlite3'
    encryption_key:
      disabled: false
      secret_name: 'authelia-secrets'
      key: 'storage_encryption_key'

  notifier:
    filesystem:
      enabled: true
      filename: '/data/notification.txt'

  identity_validation:
    reset_password:
      jwt_secret:
        disabled: false
        secret_name: 'authelia-secrets'
        key: 'jwt_secret'

  identity_providers:
    oidc:
      enabled: true
      lifespans:
        access_token: '1h'
        authorize_code: '1m'
        id_token: '1h'
        refresh_token: '90m'
      enforce_pkce: 'public_clients_only'
      cors:
        endpoints:
          - 'authorization'
          - 'token'
          - 'revocation'
          - 'introspection'
          - 'userinfo'
        allowed_origins_from_client_redirect_uris: true
      hmac_secret:
        disabled: false
        secret_name: 'authelia-secrets'
        key: 'oidc_hmac_secret'
      jwks:
        - key_id: 'rsa'
          algorithm: 'RS256'
          use: 'sig'
          key:
            disabled: false
            secret_name: 'authelia-secrets'
            key: 'oidc_rsa_private_key'
        - key_id: 'ec'
          algorithm: 'ES256'
          use: 'sig'
          key:
            disabled: false
            secret_name: 'authelia-secrets'
            key: 'oidc_ec_private_key'
      clients:
        - client_id: 'datamonster'
          client_name: 'DataMonster'
          client_secret:
            disabled: false
            secret_name: 'authelia-secrets'
            key: 'datamonster_client_secret'
          public: false
          authorization_policy: 'one_factor'
          redirect_uris:
            - 'https://data-monster.net/return'
          scopes:
            - 'openid'
            - 'profile'
            - 'email'
            - 'groups'
          grant_types:
            - 'authorization_code'
            - 'refresh_token'
          response_types:
            - 'code'

  access_control:
    default_policy: 'deny'
    rules:
      - domain: '*.zonkey-broadnose.ts.net'
        policy: 'one_factor'

persistence:
  enabled: true
  storageClass: 'longhorn'
  size: '1Gi'

secret:
  existingSecret: 'authelia-secrets'
