certmanager:
  namespace: core-cert-manager
  serviceAccountName: cert-manager

controller:
  replicaCount: 1
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
